.active {
    color: #31AC18 !important;
}
:root{
    --black: rgb(0,0,0);
    --light-color: #666;
}


.navbar-nav{
    align-items: center !important;
}
.navbar {
    box-shadow: var(--box-shadow);
    --box-shadow: 0 .1rem 0.1rem rgba(0, 0, 0, 0.1);

}
.navbar a{
    color: black;
}

.navbar .navbar-brand {
    font-size: 1.6rem;
    font-weight: bolder;
}

.navbar .navbar-brand:hover {
    color: black;
}

.navbar .navbar-toggler {
    cursor: pointer;
    color: black;
    font-size: 1.5rem;
    line-height: 0 !important;
}

.navbar .navbar-toggler:focus{
    box-shadow: none;
}

.navbar .navbar-nav {
    margin-left: auto;
}

.navbar .navbar-nav .nav-item a{
    color: black;
}


.navbar .navbar-nav .cart {
    cursor: pointer;
    margin-right: 1rem;
    font-size: 1.2rem;
    padding: 1rem;

}


.navbar .navbar-nav .cart a:hover {
    color: black;

}

.navbar .navbar-nav .nav-edit {
    padding-top: 13px;
    padding-bottom: 13px;
}


.navbar .navbar-nav .nav-sign {
    color: white;
    background-color: #31AC18;
    border-radius: 10px;

}


.navbar .navbar-nav .nav-loging {
    border: 1.5px solid #31AC18;
    border-radius: 10px;
    color: black;
}

.collapsed-margin {
    margin-bottom: 10px;
  }

/* div */
.search-box {
    background: #31AC18;
    height: 40px;
    border-radius: 50px;
    padding: 10px;
  }
  /* input */
  .search-input {
    outline: none;
    border: none;
    background: none;
    width: 0;
    padding: 0;
    color: #fff;
    float: left;
    font-size: 16px;
    transition: .3s;
    
  }
  .search-input::placeholder {
    color: #dbc5b0;
  }
  /* icon */
  .search-btn {
    color: #fff;
    
    border-radius: 50px;
    background: #31AC18;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: .3s;
  }
  .search-input:focus,
  .search-input:not(:placeholder-shown) {
    width: 240px;
    padding: 0 6px;
  }
  .search-box:hover > .search-input {
    width: 240px;
    padding: 0 6px;
  }
  .search-box:hover > .search-btn,
  .search-input:focus + .search-btn,
  .search-input:not(:placeholder-shown) + .search-btn {
    background: #fff;
    color: #31AC18;
  }