<!-- <form [formGroup]="signupForm" (ngSubmit)="signup()" autocomplete="off">
    <div class="card1">
        <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center mb-2 fs-4 ps-2 pb-2 pe-0">
                <h2 class="mb-0">Signup</h2>
                <button type="button" tabindex="-1" class="mb-0" mat-icon-button matSuffix>
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <img class="mb-2" style="width: 100%;" src="/assets/images/dicount.svg" alt="My Happy SVG" />
            <div class="d-flex justify-content-between mt-3 mb-2">
                <app-input class="me-1" [control]="firstName" type="text" placeholder="Hoda" label="First Name"></app-input>
                <app-input class="ms-1" [control]="lastName" type="text" placeholder="Khaled" label="Last Name"></app-input>
            </div>
            <div class="mb-2">
                <app-input [control]="email" style="width: 100%;" type="email" placeholder="user@example.com" icon="alternate_email" label="Email"></app-input>
            </div>
            <div class="mb-2">
                <app-input [control]="password" style="width: 100%;" type="password" label="Password"></app-input>
            </div>
            <div class="mb-2">
                <app-input [control]="phone" style="width: 100%;" type="number" prefix="01" format="0 0000 0000" label="Phone number"></app-input>
            </div>
            <div class="mb-2">
                <app-select-input [control]="district" style="width: 33%;"  type="text" placeholder="District" label="District" [options]="districts" ></app-select-input>
                <app-select-input [control]="street" style="width: 33%;" type="text" placeholder="Street" label="Street" [options]="streets" ></app-select-input>
                <app-select-input [control]="building" style="width: 33%;" type="text" placeholder="Building" label="Building" [options]="buildings" ></app-select-input>
            </div>
            <div class="form-floatin" *ngIf="errorMessages.length > 0">
                <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
                <a class="btn btn-link"
                    *ngIf="errorMessages[0].includes('Please confirm your email')">
                    Click here to resend email confirmation link in case you didn't receive it.
                </a>
            </div>
            <mat-checkbox class="example-margin mb-3">
                By Pressing "Sign up" you agree to BlHana Terms of Service, Privacy Policy.
            </mat-checkbox>
            <button type="submit" style="width: 100%;" class="btn mb-2 p-3 fs-5">Signup</button>
            <div class="text-center">

                <div class="d-lg-block bottom"> Already Have an Account? <a href="#" class="d-lg-inline sign">Login</a>
                </div>
            </div>
        </div>
    </div>
</form> -->
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row align-items-center">
        <div class="col">
            <div class="row" style="margin-top: 10rem; margin-bottom: 8rem;">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 mt-3 mb-3">Make Money Doing What You Love
                </h1>
                <p class="lead">Enjoy Flexibility, Reach a Wider Audience, and Earn on Your Terms.</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10 col-md-12 col-sm-10">

                    <form action="">
                        <div class="card1 container" style="background-color: #EAF7E8;">
                            <div class="card-body p-3">
                                <h3 class="text-center">Signup as a Chef</h3>
                                <!-- <div class="d-flex justify-content-between mt-3 mb-2">
                                            <app-input class="me-1" style="flex: 1;" [control]="firstName" type="text" placeholder="Hoda" label="First Name"></app-input>
                                            <app-input class="ms-1" style="flex: 1;" [control]="lastName" type="text" placeholder="Khaled" label="Last Name"></app-input>
                                        </div> -->
                                <div class="d-flex justify-content-between mt-3 mb-1">
                                    <div style="width: 49%;">
                                        <app-input [control]="firstName" type="text" placeholder="Hoda"
                                            label="First Name"></app-input>
                                    </div>
                                    <div style="width: 49%;">
                                        <app-input [control]="lastName" type="text" placeholder="Khaled"
                                            label="Last Name"></app-input>
                                    </div>
                                </div>
                                <div class="mb-1">
                                    <app-input [control]="email" style="width: 100%;" type="email"
                                        placeholder="user@example.com" icon="alternate_email" label="Email"></app-input>
                                </div>
                                <div class="mb-1">
                                    <app-input [control]="password" style="width: 100%;" type="password"
                                        label="Password"></app-input>
                                </div>
                                <div class="mb-1">
                                    <app-input [control]="phone" style="width: 100%;" type="number" prefix="01"
                                        format="0 0000 0000" label="Phone number"></app-input>
                                </div>
                                <div class="d-flex justify-content-between mb-1">
                                    <div style="width: 32%;">
                                        <app-select-input [control]="district" type="text"
                                            placeholder="District" label="District"
                                            [options]="districts"></app-select-input>
                                    </div>
                                    <div style="width: 32%;">
                                        <app-select-input [control]="street" type="text"
                                            placeholder="Street" label="Street" [options]="streets"></app-select-input>
                                    </div>
                                    <div style="width: 32%;">
                                        <app-select-input [control]="building" type="text"
                                            placeholder="Building" label="Building"
                                            [options]="buildings"></app-select-input>
                                    </div>
                                </div>

                                <div class="form-floatin" *ngIf="errorMessages.length > 0">
                                    <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
                                    <a class="btn btn-link"
                                        *ngIf="errorMessages[0].includes('Please confirm your email')">
                                        Click here to resend email confirmation link in case you didn't receive it.
                                    </a>
                                </div>
                                <mat-checkbox class="example-margin mb-3">
                                    By Pressing "Sign up" you agree to BlHana Terms of Service, Privacy Policy.
                                </mat-checkbox>
                                <button type="submit" style="width: 100%;" class="btn mb-2 p-3 fs-5">Signup</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row justify-content-center">
                <img class="col-10 d-block mx-lg-auto" src="/assets/images/empty.png" alt="" width="" height="">
            </div>
        </div>
    </div>
</div>