Control value: {{control.value || 'empty'}}

  <mat-form-field [class]="class" [style]="style" appearance="outline">
    <mat-label>{{label}}</mat-label>
    <input #input
           [placeholder]="placeholder"
           [type]="type"
           matInput
           [formControl]="control"
           [matAutocomplete]="auto"
           (input)="filter()"
           (focus)="filter()">
    <mat-autocomplete #auto="matAutocomplete" requireSelection="true" [displayWith]="displayFn">
      @for (option of filteredOptions; track option) {
        <mat-option [value]="option">{{option.name}}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
