.landing .container {
    margin-top: 9rem;
    height: 40rem;
}

.landing .container h3{
    text-shadow: rgba(0, 0, 0, 0.125);
    font-size: 3.5rem;
    padding-top: 9rem;
}

.landing .container p{
    padding-top: 1rem;
    font-size: 1.1rem;
}

.landing .container .find-meals {
    width: 13rem;
    align-self: center;
}

.landing .container .find-meals a{
    background-color: #31AC18;
    font-weight: light;
    font-size: 1.5rem;
    color: white;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
}

.landing-2 .container h1{
    text-align: center;
    padding-top: 8rem;
    font-size: 3.8rem;
}

.landing-2 .container p{
    text-align: center;
    padding-top: 1rem;
    font-size: 1.4rem;
    color: #656565;
}




.landing-4 .container h2 {
    text-align: center;
    padding-top: 10rem;
    font-size: 4rem;
}

.landing-4 .container .card {
    padding-top: 5rem;
    text-align: center;
    border: none;
}

.landing-4-1 .container .explore {
    display: grid;
    width: 13rem;
    align-self: center;
}

.landing-4-1 .container .explore a{
    background-color: #31AC18;
    font-weight: light;
    font-size: 1.5rem;
    color: white;
    border-radius: 10px;
}



.landing-5 .container h3{
    text-align: center;
    padding-top: 8rem;
    font-size: 3rem;
    color: #656565;
}

.landing-5 .container h1{
    text-align: center;
    padding-top: .2rem;
    font-size: 4.2rem;
    padding-bottom: 4rem;
}


.landing-6 .container .carousel-inner {
    height: 25rem;
    text-align: center;
}

.landing-6 .container .carousel-item .star-ratings {
    font-size: 1.4rem;
    padding-bottom: 1rem;
}

.landing-6 .container .carousel-item .text-ratings {
    font-size: 1.3rem;
}

.landing-6 .container .carousel-item .text {
    padding-bottom: 8rem;
}

.landing-6 .container .carousel-item .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 0.1rem;
    top: 0.5rem;
    left: 15%;
    padding-top: 5rem;
    padding-bottom: 0.1rem;
    color: #fff;
    text-align: center;
}

.card-body {
    color: var(--Grey, #656565);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}

.card-title{
    color: #000;
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 130%;
}
